<template>
  <div class="flex-column">

    <div class="flex-row">
      <div class="is-half">
        <div id="rail" class="rail">
          <div :class="response['class']"
               v-bind:key="response"
               v-for="response in stream">
            <strong>{{ response['class'] }}:</strong>
            <div v-html="response['data']"></div>
          </div>
        </div>
        <form id="query" v-on:submit.prevent="fetch(query)">
          <label for="statement">
            <input id="statement"
                   type="text"
                   v-model="query"
                   name="query"
                   autocomplete="off"
                   placeholder="How can I help?" />
          </label>
          <button type="submit" class="button">Submit</button>
        </form>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';

const API_URL = 'http://0.0.0.0:8000';

export default {
  /* eslint-disable */
  name: 'app',
  data() {
    const stream = [];
    const query = '';
    this.start();
    return {
      stream,
      query
    };
  },
  methods: {
    start() {
      const url = `${API_URL}/api/public/`;
      return axios.get(url).then((response) => {
        const resp = {
          'class': 'Gary',
          'data': response.data
        };
        this.stream.push(resp);
        this.scroll()
      });
    },
    fetch(query) {
      const url = `${API_URL}/api/public/`;
      const data = { query };
      const resp = {
          'class': 'user',
          'data': query
        };
      this.stream.push(resp);
      return axios.post(url, { 'query': data }).then((response) => {
        const resp = {
          'class': 'Gary',
          'data': response.data
        };
        this.stream.push(resp);
        this.scroll();
      });
    },
    scroll() {
      const config = { childList: true };
      const chatEl = document.getElementById('rail');

      const callback = (mutationsList) => {
        mutationsList.forEach((mutation) => {
          if (mutation.type === 'childList') {
            chatEl.scrollTop = chatEl.scrollHeight;
          }
        });
      };

      const observer = new MutationObserver(callback);
      observer.observe(chatEl, config);
    }
  },
};

</script>

<style>
html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff6f1;
  background: #010909;
  height: 100%;
  max-height: 100vh;
  width: 100%;
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

img {
  width: 50%;
}

body {
  height: 100%;
  max-height: 100vh;
  margin: 0;
  padding: 0;
}

.storyImage {
  width: 100%;
  height: auto;
}

.storyText {
  padding: 1rem;
  margin-top: -10px;
  background: rgba(255,255,255,0.2);
  border: 1px solid rgba(255,255,255, 0.3);
}

.story h3, .story h5 {
  padding: 0 0 1rem;
  margin: 0;
  text-decoration: none;
  color: white;
}

.flex-row {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

  .flex-row div.is-half{
    width: 50%;
    min-height: 50vh;
    max-height: 100vh;
    padding: 0 2rem;
    text-align: center;
    margin: 0 auto;
    position: relative;
  }

  .rail {
    display: flex;
    flex-flow: column nowrap;
    height: 75%;
    max-height: 65vh;
    overflow-y: scroll;
    padding: 8rem 1rem 0;
    position: relative;
  }

  div.is-half::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(1,9,9,1), rgba(1,9,9,0));
    z-index: 2;
  }

  .rail strong {
    margin-bottom: 1rem;
    display: block;
  }

  div.full-width {
    width: 100%;
    padding: 1rem 0;
  }
  form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 1rem 0;
  }
  input[type=text] {
    border: 1px solid #9d9d9d;
    background: rgba(255,255,255,0.7);
    font-size: 150%;
    padding: 20px 10px;
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }
  button {
    background: #006666;
    border: none;
    color: #fcfcfc;
    padding: 1.5rem 10px;
    font-size: 150%;
    font-weight: 500;
    width: calc(20% - 20px);
    height: 100%;
    width: auto;
    cursor: pointer;
    transition: all 350ms linear;
  }

  button:hover {
    background: #008888;
    transition: all 350ms linear;
  }

  div.Gary {
    background: rgba(50,150,150, 0.3);
    border-radius: 2px;
    color: white;
    font-size: 125%;
    width: auto;
    max-width: 60%;
    position: relative;
    left: 0;
    top: 0;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
  }

  div.user {
    background: rgba(255,255,255, 0.1);
    border-radius: 2px;
    color: white;
    font-size: 125%;
    align-self: flex-end;
    width: auto;
    max-width: 60%;
    position: relative;
    right: 0;
    top: 0;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
  }

  @media screen and (max-width: 1200px) {
    .flex-column {
      width: 100%;
    }

    .flex-row div.is-half {
      max-height: 90vh;
      height: 100vh;
      width: 90%;
    }
    .rail {
      height: 70%;
    }
  }
</style>
