<div class="story">
    <a href="{{ url }}" target="_blank">
    <img class="storyImage" src="{{ image }}" />
    <div class="storyText"><h3> {{ name }}</h3>
    <h5>{{ title }}</h5></div>
    </a>
</div>